# Virtual environment
venv/
myenv/
*.pyc
__pycache__/

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Compiled Python files
*.pyc

# Logs
*.log

# Environment variables
.env

# Dependency directories
node_modules/